name: Prisma Migrate Deploy

on:
  push:
    branches:
      - main

jobs:
  migrate:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      
          
      - name: Prisma migrate status
        run: npx prisma migrate status --schema=prisma/schema.prisma
        env:
          DATABASE_URL: ${{ secrets.DIRECT_URL }}
          DIRECT_URL: ${{ secrets.DIRECT_URL }}
          DEBUG: "prisma:*"
          PRISMA_MIGRATION_ENGINE_LOG: "info"

      - name: Run Prisma migrations
        run: npx prisma migrate deploy --schema=prisma/schema.prisma
        env:
          DATABASE_URL: ${{ secrets.POOLER_URL }}
          DIRECT_URL: ${{ secrets.POOLER_URL }}
          DEBUG: "prisma:*"
          PRISMA_MIGRATION_ENGINE_LOG: "info"

      - name: Run Prisma migrations
        run: npx prisma migrate deploy --schema=prisma/schema.prisma
        env:
          DATABASE_URL: ${{ secrets.POOLER_URL }}
          DIRECT_URL: ${{ secrets.DIRECT_URL }}
